.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: lightblue;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.text-position{
    text-align: center;
}